* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*--Header--*/
header {
    color: #ffffff;
    background: url(../imgs/homePic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.home {
    width: 80%;
    margin: auto;
    padding: 200px 0 0 0;
}

.home p {
    font-size: 28px;
}

.home h1 {
    font-size: 60px;
    padding: 5px 0 5px 0;
}

.home h3 {
    font-size: 28px;
    padding-bottom: 30px;
}

.contactButton {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: #ffffff;  
    border: 2px solid #ffffff;
    border-radius: 10px;  
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
}

.contactButton:hover {
    color: #ffffff;
    background-color: #1e90ff;
    border: 2px solid #1e90ff;
}

.navMain {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
}

.navMain ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 80%;
    margin: auto;
}

.navMain ul li {
    list-style: none;
    padding: 15px 0 15px 0;
}

.navMain ul li a {
    text-decoration: none;
    color: #fff;
}

.navMain ul li a:hover {
    color: #1e90ff;
}

.navMain .socialNetworks {
    text-align: right;
}

.navMain .socialNetworks a {
    font-size: 20px;
    color: #fff;
    padding: 0 5px 0 5px;
}

.socialNetworks i:hover {
    color: #1e90ff;
}

.closeNav {
    color: #000;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px 0 0;
    cursor: pointer;

    display: none;
}

.closeNav i:hover {
    color: #1e90ff;
}

.navSecondary {
    background-color: #000;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;

    display: none;
}

.navSecondary ul {
    align-items: center;
    text-align: right;
    width: 80%;
    margin: auto;
}

.showNav {
    display: inline-block;
    color: #fff;
    font-size: 24px;
}

.showNav i:hover {
    color: #1e90ff; 
    cursor: pointer;   
}

/*--------Container--------------------------------------------------------------------------------------*/
.container {
    background-color: #fff;
    font-size: 18px;
}

.title {
    color: #000;
    font-size: 64px;
    text-align: center;
    padding: 25px 0 25px 0;
    margin: 50px 0 50px 0;
}

/*-------AboutMe--------------------------------------------------------------------------------------*/
.aboutMe {
    padding: 50px 0 100px 0;
    background-color: #f5f5f5;
}

.contentAboutMe { 
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    margin: auto;
}

.contentAboutMe p {
    text-align: justify;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    box-shadow: 0 0 6px #adadad;
}

.profilePic {
    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 6px #adadad;
}

/*-------------Technologies------------------------------------------------------------------------------*/
.technologies {
    background-color: #fff;
    padding: 50px 0 100px 0;
}

.contentTechnologies {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
}

.contentTechnologies > div {
    background-color: #c4c4c4;
    border-radius: 10px;
}

.contentTechnologies > div > span {
    display: inline-block;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #1e90ff;
}

.progressHTML span {
    width: 60%;
}

.progressCSS span {
    width: 50%;
}

.progressJS span {
    width: 25%;
}

.progressNode span {
    width: 5%;
}

.progressElectron span {
    width: 25%;	
}

.progressGit span {
    width: 30%;
}

.technologies p {
    font-size: 18px;
    text-align: center;
    padding: 50px 0 0 0;
}

/*-------------AreasOfInterest------------------------------------------------------------------------------*/
.areasOfInterest {
    background-color: #fff;
    padding: 50px 0 100px 0;
}

.contentAreasOfInterest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
}

.areas {
    text-align: center;
    padding: 20px 0 0 0;
    margin: auto;
    width: 100%;
}

.areas img {
    height: 200px;
}

.areas p {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    padding: 10px 0 10px 0;
}


/*-------------Proyects------------------------------------------------------------------------------*/
.proyects {
    background-color: #f5f5f5;
    color: #000;
    padding: 50px 0 100px 0;
}

.contentProyects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    margin: auto;
}

.proyect {
    background-color: #fff;
    border-radius: 10px;
}

.proyect:hover {
    box-shadow: 0 0 6px #adadad;
}

.proyect a {
    text-decoration: none;
}

.picProyect1 {
    background: url(../imgs/priceList.png);
}

.picProyect2 {
    background: #000;
}

.picProyect3 {
    background: #000;
}

.picProyect1,
.picProyect2,
.picProyect3 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
}

.proyect h4 {
    font-size: 28px;
    font-weight: bolder;
}

.proyect p {
    font-size: 16px;
    padding: 10px 0 0 0;
}

.proyect .description {
    padding: 10px 10px 10px 10px;
}

.proyects > p {
    padding: 50px 0 0 0;
    font-size: 18px;
    text-align: center;
}

.proyects p a {
    font-weight: bold;
    text-decoration: none;
    color: #1e90ff;
}

.proyects p a:hover {
    opacity: .6;
}

/*---------------------------Contact-------------------------------------------------------------------*/
.contact {
    background-color: #fff;
    text-align: center;
    color: #000;
    padding: 50px 0 100px 0;
}

.contentContact {
    width: 80%;
    margin: auto;
}

.contact p {
    font-size: 24px;
}

.contact p > span {
    text-decoration: underline #1e90ff;
}

.contact h4 {
    font-size: 48px;
    background-color: #1e90ff;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0 20px 0;
    display: inline-block;
}

/*------------------Footer----------------------------------------------------------------------------------*/
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0 20px 0;
}

.footer .socialNetworks a {
    font-size: 40px;
    color: #fff;
    padding: 0 20px 0 20px;
}

.copyright {
    padding: 20px 0 0 0;
}

/*-------Responsive design----------------------------*/
@media screen and (max-width: 900px) {

    header{
        background: #000;
    }

    .space {
        display: none;
    }

    .navMain ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .contentAboutMe {
        grid-template-columns: 1fr;
    }

    .contentAboutMe p {
        border-radius: 10px;
    }
    
    .contentAboutMe .profilePic {
        border-radius: 10px;
        width: 50%;
        margin: auto;
        margin-top: 10px;
    }

    .contentTechnologies {
        grid-template-columns: 1fr 1fr;
    }

    .contentAreasOfInterest {
        grid-template-columns: 1fr 1fr;
    }

    .contentProyects {
        grid-template-columns: 1fr 1fr;
    }

    .contentContact h4 {
        font-size: 36px;
    }

    .contentContact p {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {

    .title {
        font-size: 54px;
    }

    .navMain {
        height: 100vh;
        width: 250px;
        position: fixed;
        left: 0;
        background-color: #fff;
        padding: 100px 0 0 10px;
        transform: translateX(-300px);
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .navMain ul {
        grid-template-columns: 1fr;
    }

    .navMain ul li a {
        color: #000;
    }

    .navMain .socialNetworks {
        text-align: left;
        position: absolute;
        bottom: 0;
        padding: 0 0 50px 0;
    }

    .navMain .socialNetworks a {
        color: #000;
    }

    .closeNav {
        display: block;
        color:#000;
    }

    .navSecondary {
        display: block;
    }

    .moveNav {
        transform: translateX(0px);
    }

    .containerAll {
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .moveAll {
        transform: translateX(250px);
    }
}

@media screen and (max-width: 550px){

    .title {
        font-size: 48px;
    }

    .contentTechnologies {
        grid-template-columns: 1fr;
    }

    .areas p {
        font-size: 20px;
    }

    .contentProyects {
        grid-template-columns: 1fr;
    }

    .contentContact h4 {
        font-size: 30px;
        text-align: center;
    }

    .contentContact p {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px){

    .home p {
        font-size: 24px;
    }

    .home h1 {
        font-size: 52px;
    }

    .home h3 {
        font-size: 24px;
    }

    .contentAboutMe > p {
        font-size: 16px;
    }

    .proyects > p,
    .technologies > p {
        font-size: 16px;
        width: 80%;
        margin: auto;
    }

    .contentAreasOfInterest {
        grid-template-columns: 1fr;
    }

    .contentContact p {
        font-size: 16px;
    }

    .contentContact h4 {
        font-size: 20px;
        padding: 10px;
    }

    .footer > .socialNetworks a {
        font-size: 32px;
    }

    .copyright p {
        font-size: 16px;
    }
}