/*-- Custom Properties -------------------------------------------------------------------*/
:root {
    --first-color: #1e90ff;
    --second-color: #191f25;
    --third-color: #002897;
    --white-color: #fff;
    --gray-color: #e6e6e6;
    --black-color: #000;
    --link-color: #fff;
    --title-color: #333;
    --text-color: #222;
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
}

/*-- Reset -------------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    transition: all 0.3s ease-in-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
    color: var(--text-color);
}


/*-- Utilities ---------------------------------------------------------------------------*/

.btn {
    border-radius: 10px;
    padding: 1rem;
    display: inline-block;
    width: 130px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
}

.title {
    font-size: 9.5vw;
    color: var(--title-color);
    text-align: center;
    margin: 2rem 0;
}

.text {
    color: var(--text-color);
    font-size: 1rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

/*---------------------------------------------------------------------------------------*/



/*-- Site Styles ------------------------------------------------------------------------*/

/*-- Header --*/
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}


/*-- Menu mobile --*/
.menu-btn {
    outline: none;
    border: 1px solid var(--first-color);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--second-color);
    padding: 0.4rem 0.8rem;
}

.menu-btn i {
    color: var(--first-color);
    font-size: 1.2rem;
    width: 1rem;
}

.none {
    display: none;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

/*-- Menu --*/
.menu {
    position: fixed;
    left: 0;
    top: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    transition: opacity .3s ease;
    pointer-events: none;
}

.menu a {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}

.menu a:hover {
    color: var(--white-color);
    background-color: var(--first-color);
}


/*-- Inicio --*/
.hero-image {
    background: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.hero-image aside {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-content {

}

.hero-image-title {
    font-size: 10vw;
    color: var(--white-color);
}

.hero-image-subtitle {
    font-size: 5vw;
    color: var(--white-color);
    padding-bottom: 10px;
}


/*-- Acerca --*/
.about {
    
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content .text {
    text-align: justify;
    padding: 1rem 2rem;
}

.about-image {
    width: 50%;
    border-radius: 100%;
    border: 4px solid var(--title-color);
}


/*-- Skills --*/
.skills {
    padding: 1rem;
}

.skills-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.skills-content > div {
    background-color: var(--gray-color);
    border-radius: 10px;
}

.skills-content > div > span {
    display: inline-block;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background: var(--first-color);
    color: var(--text-color);
}

.progressHTML span {
    width: 80%;
}

.progressCSS span {
    width: 70%;
}

.progressJS span {
    width: 40%;
}

.progressReact span {
    width: 10%;
}

.progressElectron span {
    width: 40%;	
}

.progressGit span {
    width: 30%;
}

.skills p {
    text-align: center;
    margin: 2rem;
}

.skills-content2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
}

.skills-content2-l {

}

.skills-content2-r {

}

.skills-content2 li {
    list-style: none;
}

/*-- Proyectos --*/
.proyects {
    padding: 1rem;
}

.proyects-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.proyect {
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.4);
    position: relative;
}

.proyect-image {
    border-radius: 10px 10px 0 0;
}

.proyect-description {
    padding: 1rem;
    padding-bottom: 3rem;
}

.proyect-title {
    font-size: 1.5rem;
    color: var(--title-color);
}

.proyect-title a {
    color: var(--title-color);
    text-decoration: none;
    outline: none;
}

.proyect-description .text {
    text-align: justify;
    margin-bottom: 0;
}

.proyect-technologies {
    padding: 0.5rem 1rem;
    background-color: var(--gray-color);
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.proyect-technologies i {
    color: var(--text-color);
    font-size: 1.2rem;
}


/*-- Contacto --*/
.contact {
    padding: 1rem;
    text-align: center;
    background: url(./assets/background-contact.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.contact .title {
    color: var(--white-color);
}

.contact-content {
    max-width: 700px;
    margin: auto;
}

.contact-content p {
    color: var(--white-color);
}

.contact-content .text {
    margin: 0;
}

.contact-content .text u {
    text-decoration: underline var(--first-color);
}

.contact-form {
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 10px;
    background: var(--white-color);
}

.contact-input-text,
.contact-form textarea {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    font-family: var(--font);
    background-color: var(--gray-color);
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}

.contact-form textarea { 
    height: 100px;
    resize: none;
}

.contact-form .btn {
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.contact-form .btn:hover {
    opacity: 0.75;
}

.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 300ms ease;
}

.modal-none {
    display: none;
}

.modal-content {
    background: var(--white-color);
    padding: 3rem 2rem;
    border-radius: 10px;
}

.modal-content .title {
    margin: 0;
    color: var(--title-color);
}

.modal-content i {
    font-size: 9.5vw;
    color: var(--first-color);
    padding: 2rem 0 0 0;
}

.contact-loader {
    
}

.contact-loader i {
    font-size: 9.5vw;
    color: var(--first-color);
    padding: 2rem 4rem;

    -webkit-animation: loader 1.3s linear infinite;
    animation: loader 1.3s linear infinite;
    animation-name: loader;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}


/*-- Footer --*/
.footer {
    background-color: var(--black-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
}


/*-- Redes sociales --*/
.footer-social-networks a {
    font-size: 2.5rem;
    margin: .5rem;
}

.footer-social-networks a:hover {
    color: var(--first-color);
}

.footer-social-networks a i {
    padding-bottom: 1rem;
}


/*-- Copyright --*/
.footer-copyright a {
    text-decoration: none;
    font-weight: bold;
}

.footer-copyright a:hover {
    color: var(--first-color);
}



/*-- Media Queries ----------------------------------------------------------------------*/

/*-- Tablet --*/
@media screen and (min-width:768px){
    .title {
        font-size: 7vw;
    }

    .hero-image-title {
        font-size: 8vw;
    }

    .hero-image-subtitle {
        font-size: 4vw;
    }

    .about {
        padding: 1rem;
    }

    .about-image {
        width: 30%;
    }

    .skills-content {
        grid-template-columns: 1fr 1fr;
    }

    .skills-content2 {
        grid-template-columns: 1fr 1fr;
    }

    .proyects-content {
        grid-template-columns: 1fr 1fr;
    }
}


/*-- Desktop --*/
@media screen and (min-width: 1024px) {
    .title {
        font-size: 4.5vw;
    }

    .header {
        position: fixed;
        top: 0;
        padding: .5rem;
        height: calc(var(--header-height) - 0.5rem);
    }

    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }

    .menu a {
        padding: 0 0 0 2rem;
    }

    .menu a:hover {
        background-color: transparent;
    }

    .hero-image-title {
        font-size: 6vw;
    }

    .hero-image-subtitle {
        font-size: 3vw;
    }

    .about {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        padding: 0;
    }

    .about-content {
        display: grid;
        grid-template-columns: 1.4fr .6fr;
        grid-gap: 3rem;
    }

    .about-content .text {
        text-align: justify;
        padding: 0rem;
    }

    .about-image {
        width: 90%;
    }

    .skills {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
    }

    .skills-content {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .proyects {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
    }

    .proyects-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .contact {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
    }

    .contact-content {
        width: 100%;
    }

    .contact-form {
        text-align: left;
    }

}