.home {
  padding-top: var(--header-height);
  max-height: 900px;
}

.home-content {
  max-width: var(--max-width);
  height: calc(100vh - var(--header-height));
  max-height: calc(900px - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin: auto;
  position: relative;
}

.principal-title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 8rem;
}

.principal-subtitle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: .8;
}

.profile-image {
  width: calc(100vw - 4rem);
  height: auto;
  position: absolute;
  bottom: 0;
}

.contact-btn {
  margin: 2rem;
  background-color: var(--first-color);
  border-radius: 10px;
  padding: 1rem;
  height: 3rem;
  text-align: center;
}

.contact-btn:hover {
  opacity: .75;
}

.last-projects {
  display: none;
}

/*-- Tablet --*/
@media screen and (min-width: 500px){

  .home-content {
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  .principal-title {
    font-size: 4rem;
  }

  .principal-subtitle {
    font-size: 2rem;
  }

  .profile-image {
    width: calc(100vw - 4rem);
    max-height: 50vh;
  }
}

/*-- Desktop --*/
@media screen and (min-width: 1024px){

  .home-content {
    align-items: unset;
    justify-content: flex-end;
    
  }
  
  .principal-title {
    margin: 0 0 0 4rem;
    font-size: 4rem;
  }
  
  .principal-subtitle {
    margin: 0 0 0 4rem;
    font-size: 2.25rem;
  }
  
  .profile-image {
    width: 37rem;
    max-height: 95vh;
    margin-bottom: unset;
    position: absolute;
    right: 2rem;
    bottom: 0;
  }
  
  .contact-btn {
    margin: 3rem 0 4rem 4rem;
    width: 9rem;
    height: 3.6rem;
    padding: 1.3rem;
    line-height: 1;
  }
  
  .last-projects {
    display: unset;
    margin-bottom: 4rem;
  }

  .last-projects > .title {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--white-color);
    text-align: left;
  }
  
  .last-projects-content {
   display: flex;
   gap: 1.5rem;
  }
  
  .last-projects-content > a:hover {
    opacity: .75;
  }
  
  .last-project-image {
    max-width: 250px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1400px) and (min-height: 900px) {
  
  .home-content {
    justify-content: center;
  }
}