.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  min-height: 100vh;
}

.skills-content {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  padding-bottom: 4rem;
}

.skills > .title {
  color: var(--white-color);
  text-align: center;
}

.skills-target-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.target-skills {
  background-color: var(--white-color);
  width: 120px;
  height: 120px;
  border-radius: 10px;
  padding: 1rem 1rem .8rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.skill-image {
  height: 4rem;
  margin: 0;
  padding: 0;
}

.skill-name {
  font-size: 1rem;
  font-weight: bold;
  color: var(--second-text-color);
  margin: 0;
  padding: 0;
}

.extra-skills-content {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 1024px){

  .skills {
    justify-content: center;
  }
}